@font-face {
  font-family: "Dymon-ShouXieTi";
  font-display: swap;  
  src: url("/font/Dymon-ShouXieTi.otf") format("opentype");
}
@font-face {
  font-family: "FiraCode-Regular";
  font-display: swap;
  font-variant-ligatures: common-ligatures discretionary-ligatures;
  font-feature-settings: "liga" on;
  src: url("/font/FiraCode-Regular.ttf") format("truetype");
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 4847823 */
  src: url('//at.alicdn.com/t/c/font_4847823_upluhme7cv.woff2?t=1741183783661') format('woff2'),
       url('//at.alicdn.com/t/c/font_4847823_upluhme7cv.woff?t=1741183783661') format('woff'),
       url('//at.alicdn.com/t/c/font_4847823_upluhme7cv.ttf?t=1741183783661') format('truetype');
}

